p{
    border:10px solid red;
    border-width: 10px 30px 50px;
    padding: 30px;
    margin: 40px;
}

.balra{
    text-align: left;
}
.jobbra{
    text-align: right;
}
.középre{ 
    text-align: center;
}
.sorkizárt{
    text-align: justify;
}
.elsosor_behuzás{
    text-indent: 20px;
}    